header{
    background-image: url(assets/misc/grille.png);
    width: 100%;
    text-align: center;
    font-family: 'Oswald';
    display: flex;  
    color: rgb(133, 133, 133);
}

.ABC{
    margin-left: 150px;
    width: 90px;
    height: 90px;
}

ul{ 
    margin-left: 50px; 
    margin-right: 50px;
    list-style: none;
}

.orange{
    height: 620px;
    width: 160px;
    position: absolute;
    bottom: 615px;
    right: 1440px;
}

.jaune{
    height: 120px;
    width: 200px;
    position: absolute;
    bottom: 865px;
    right: 1170px;
}

.vert{
    height: 120px;
    width: 180px;
    position: absolute;
    bottom: 865px;
    right: 920px;
}

.bleu{
    height: 120px;
    width: 180px;
    position: absolute;
    bottom: 865px;
    right: 685px;
}

.violet{
    height: 110px;
    width: 120px;
    position: absolute;
    bottom: 870px;
    right: 460px;
}

iframe{
       margin-left: 450px;
       margin-top: 50px;
       margin-bottom: 50px;
}

section{
    background-image: url(assets/misc/grille.png);
    width: 100%;
    height: 80px;
    margin-top: 30px;
}

h3{font-family: 'Droid sans';
    text-align: center;
    color: rgb(187, 187, 187);
    font-size: 15px;
    font-family: 'Droid Serif';
}



aside{
    border: rgb(233, 233, 233) 2px solid;
    color: grey;
    text-align: left;
    float: left;
    width: 320px;
    height: 320px;
    margin-top: 30px;
    margin-left: 250px;
    font-family: 'Droid sans';
}

article{
    align-items: stretch;
    text-align: left;
    width: 350px;
    height: 140px;
    margin-left: 650px;
    margin-top: 30px;
    color: lightslategrey;
    font-family: 'Droid sans';
}

.box{
    position: absolute;
    top: 760px;
    margin-left: 1150px;
    width: 435px;
    height: 120px;
}

.accro{
margin-left:15px;
border: 5px white solid;
box-shadow: 3px 3px 3px 3px lightgrey;
display: ruby;

       
}

h1{
    color: rgb(253, 117, 67);
    font-size: 15px;
    font-family: 'Droid serif';
}

h2{
     font-size: 10px;
    color: rgb(155, 155, 155);
}

footer{
    background-image: url(assets/misc/grille.png);
    width: 100%;
    margin-top: 150px;
   color: grey;
   font-family: 'Droid sans';
   
}
.contact{
     
    font-size: 15px;
     display: flex;
     margin-left: 150px;
    
}
a{
    color: grey; 
}

.fin{
    position: absolute;
    top: 1480px;
    font-size: 10px;
    
}

.image{
    position: absolute;
    margin-left: 1630px;
    display: inline-flex;
    height: 30px;
    
}

